.left{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.codes{
    padding: 15%;
    
}
.cs-input{
    padding: 15%;
    max-width: 20px;
    text-align: center;
}

#inSecret{
    max-width: 300px;
    min-width: 200px;
}

body{
    display: flex; justify-content: center; 
}